
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  /* Estilos para el modo claro (por defecto) */
  .scrollbar-custom::-webkit-scrollbar {
    width: 12px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #1b3887; /* Azul oscuro en el modo claro */
    border-radius: 6px;
    border: 3px solid #c5c6caac; /* Espacio alrededor del thumb */
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #c5c6caac; /* Gris claro */
  }

  /* Estilos para el modo oscuro */
  .dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #9ca3af; /* Gris claro en el modo oscuro */
    border: 3px solid #1f2937; /* Espacio más oscuro alrededor del thumb */
  }
  .dark .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #28303c; /* Fondo más oscuro para el track */
  }
}